body {
  background-color: rgb(255, 242, 216);
  font-family: 'Merriweather', serif;
}

div {
  text-align: left;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  max-width: 50rem;
  list-style-position: inside;


}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.5rem;
  color: rgb(17, 57, 70);
  margin: 50px;

}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 10px;
  background-color: rgb(234, 215, 187);
}

h3 {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(188, 163, 127);


}

hr {
  border-top: 6px dotted #EAF6F6;
  border-bottom: 0px;
  margin-left: 100px;
  margin-right: 100px;
  width: 4%;
}

a {
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: green; 
}


img.logo {
  max-width: 100px;
  max-height: 100px;
  border-radius: 20%; 
}

.even{
  background-color: rgb(161, 152, 130);
}



.icon {
  max-width: 40px;
  max-height: 40px;
}







/* Three columns side by side */
.column {
  float: left;
  width: 30%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens 
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
} */

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 242, 216);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: rgb(188, 163, 127);
}

.form{
  background-color:  rgb(234, 215, 187);
  border: 2px dotted #000; 
  padding: 20px; 
}

.inputs{
  border-radius: 10px; /* Make inputs rounded */
  background-color:  rgb(255, 242, 216);

}

#cloud2{
  margin-left: 30%;
}

.clouds{  
  position: sticky;
}

.mountain{
  position: static;
}