<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather report</title>
</head>

<body>
    <h1 style="align-content: center;">CITY NOT FOUND</h1>


    <a href="/" alt="Home page " style="width: 5dvw; height: auto;">
        &nbsp; << &nbsp; Try searching another city (check spelling) </a>  <!--REDIRECT USING ENDPINTS not files-->


</body>

</html>